# Entendendo os dados

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('fitness_tracker_dataset.csv')
#https://www.kaggle.com/datasets/arnavsmayan/fitness-tracker-dataset

In [3]:
dataset.head()

,user_id,date,steps,calories_burned,distance_km,active_minutes,sleep_hours,heart_rate_avg,workout_type,weather_conditions,location,mood
0,468,2023-01-01,4530,2543.02,16.10,613,1.5,176,Walking,Clear,Park,Tired
1,879,2023-01-01,11613,1720.76,8.10,352,6.3,128,Cycling,Fog,Park,Happy
2,152,2023-01-01,27335,1706.35,3.57,236,6.7,134,Yoga,Snow,Park,Neutral
3,311,2023-01-01,13459,2912.38,6.41,1329,11.6,116,Swimming,Rain,Office,Tired
4,759,2023-01-01,15378,3344.51,17.88,52,7.4,84,Swimming,Rain,Office,Neutral

In [4]:
dataset.describe()

,user_id,steps,calories_burned,distance_km,active_minutes,sleep_hours,heart_rate_avg
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,499.550302,15005.767061,2750.008148,9.994465,719.418241,6.000228,119.458316
std,288.166608,8659.195341,721.473950,5.774298,415.894771,3.463977,34.654034
min,1.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,60.000000
25%,250.000000,7492.000000,2125.517500,4.990000,359.000000,3.000000,89.000000
50%,499.000000,15020.000000,2748.310000,9.990000,719.000000,6.000000,119.000000
75%,749.000000,22507.000000,3375.190000,14.990000,1080.000000,9.000000,149.000000
max,999.000000,29999.000000,4000.000000,20.000000,1439.000000,12.000000,179.000000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   user_id             1000000 non-null  int64
 1   date                1000000 non-null  object
 2   steps               1000000 non-null  int64
 3   calories_burned     1000000 non-null  float64
 4   distance_km         1000000 non-null  float64
 5   active_minutes      1000000 non-null  int64
 6   sleep_hours         1000000 non-null  float64
 7   heart_rate_avg      1000000 non-null  int64
 8   workout_type        856880 non-null   object
 9   weather_conditions  1000000 non-null  object
 10  location            1000000 non-null  object
 11  mood                1000000 non-null  object
dtypes: float64(3), int64(4), object(5)
memory usage: 91.6+ MB

In [6]:
dataset.shape

(1000000, 12)

In [7]:
dataset.isnull().sum()

user_id                    0
date                       0
steps                      0
calories_burned            0
distance_km                0
active_minutes             0
sleep_hours                0
heart_rate_avg             0
workout_type          143120
weather_conditions         0
location                   0
mood                       0
dtype: int64

In [ ]:
dataset['user_id']